canvas {
    position: absolute;
    left: 50%;
    margin-left:-300px;
    top:51%;
    margin-top:-300px;
    background: white;
}

hr {
    height: 2px;
    color: black;
    background-color: black;
    border: none;
}

#sidebar {
    position: absolute;
    left: 100%;
    top: 8.5%;
    width: 60%;
    height: 100%;
    background-color: #fdb897;
    float: right;
    font-family: Arial;
    font-size: 142%;
    color: black;
}

#topLeft {
    position: absolute;
    left:-34%;
    top: 8.5%;
    width: 36%;
    height: 100%;
    background-color: #fdb897;
    float: right;
    font-family: Arial;
    font-size: 142%;
    color: black;
}

#bottomRight {
    position: absolute;
    left: 100%;
    top: 76%;
    width: 50%;
    height: 0%;
    background-color: #fdb897;
    float: right;
    font-family: Arial;
    font-size: 142%;
    color: black;
}

#banner {
    position: absolute;
    left: 8.5%;
    top: 0%;
    width: 85%;
    height: 0%;
    background-color: #fdb897;
    float: right;
    font-family: Arial;
    font-size: 142%;
    color: black;
}

.wrapper { 
    margin: 0 auto;
    width: 640px;
    height: 775px;
    position: relative;
}

#playPause {
    position: absolute;
    z-index: 1000;
    float: bottom;
    width:60px;
    height:43px;
    left: 64%;
    top: 42.9%;
}

#volumeSlider {
    position: absolute;
    left: 0%;
    top: 58.5%;
    z-index: 1000;
    float: bottom;
}

#muteButton {
    font-family: Arial;
    position: absolute;
    left: 40%;
    top: 58.6%;
    z-index: 1000;
    float: bottom;
}