canvas {
    position: absolute;
    left: 30%;
    margin-left:-300px;
    top:50%;
    margin-top:-300px;
    background: white;
}

hr {
    height: 2px;
    color: black;
    background-color: black;
    border: none;
}

#sidebar {
    position: absolute;
    left: 80%;
    top: 7%;
    width: 60%;
    height: 100%;
    background-color: #fdb897;
    float: right;
    font-family: Arial;
    font-size: 142%;
    color: black;
}

.wrapper { 
    margin: 0 auto;
    width: 640px;
    height: 775px;
    position: relative;
}

#playPause {
    position: absolute;
    z-index: 1000;
    float: bottom;
    width:60px;
    height:43px;
    left: 65%;
    top: 55.9%;
}

#volumeSlider {
    position: absolute;
    left: 0%;
    top: 69%;
    z-index: 1000;
    float: bottom;
}

#muteButton {
    font-family: Arial;
    position: absolute;
    left: 40%;
    top: 69.2%;
    z-index: 1000;
    float: bottom;
}